In [2]:
select*from[Theme_Park].[Employee]

fname,lname,ssn,gender,address,phone,date_joined,dept_id,role,supervisor_ssn,salaried,payrate,vacation_days
paul,george,666666666,F,main,5125125125,2022-10-11,3,operator,NULL,1,10000000.00,0.00
Phillip,Sudario,987654321,M,4800 Calhoun Rd,7137432255,2022-11-03,3,NULL,NULL,0,12.00,NULL

In [9]:
exec [Theme_Park].[Proc_Add_Employee] 'paul', 'george', 666666666, 'F', main, 5125125125, '2022-10-11', 3, 'operator', null, 1, 10000000, 0

: Msg 2627, Level 14, State 1, Procedure Theme_Park.Proc_Add_Employee, Line 16
Violation of PRIMARY KEY constraint 'PK_Employee'. Cannot insert duplicate key in object 'Theme_Park.Employee'. The duplicate key value is (666666666).