# Stored Procedure definitions:

## HR Role

- Proc_Add_Employee: Adds an employee to the database

In [6]:
drop proc [Theme_Park].[Proc_Add_Employee]
go
create proc [Theme_Park].[Proc_Add_Employee]
    @fname varchar(20),
    @lname varchar(20),
    @ssn numeric(9,0),
    @gender char,
    @address varchar(50),
    @phone numeric(10,0),
    @date_joined date,
    @dept_id int,
    @role varchar(20),
    @supervisor_ssn numeric(9,0),
    @salaried bit,
    @payrate money,
    @vacation_days decimal(4,2)
AS
    INSERT INTO [Theme_Park].[Employee]
    VALUES
    ( @fname, @lname, @ssn, @gender, @address, @phone, @date_joined, @dept_id, @role, @supervisor_ssn, @salaried, @payrate, @vacation_days );
GO

In [8]:
exec [Theme_Park].[Proc_Add_Employee] 'Kimmy', 'Schmidt', 177889999, 'F', 'Middletown, OH', 01117777, '2022-10-24', 0, 'Heroine', 177889999, 0, 17.15, 0
go

## Customer entity

PROC_CUSTOMER_BUY_TICKET: adds a new ticket purchase to the database

In [1]:
drop proc [Theme_Park].[Proc_Customer_Buy_Ticket]
go
create proc [Theme_Park].[Proc_Customer_Buy_Ticket]
    @date datetime,
    @class varchar(10),
    @price decimal(5,2)
AS
    INSERT INTO [Theme_Park].[Ticket] (Date, Ticket_Class, Price, Reservation)
    VALUES
    (@date, @class, @price, NULL)
GO

In [2]:
exec [Theme_Park].[Proc_Customer_Buy_Ticket] '2022-10-22', 'Poor', 11.50
go

PROC_CUSTOMER_BUY_RESERVATION: buy a new ticket reservation

In [4]:
drop proc [Theme_Park].[Proc_Customer_Buy_Reservations]
GO
create proc [Theme_Park].[Proc_Customer_Buy_Reservations]
    @customer_id int,
    @FirstName varchar(25),
    @LastName varchar(25),
    @Date_of_Visit datetime,
    @Credit_Card_Number int,
    @Ticket_Class varchar(10)
AS
    insert into [Theme_Park].[Ticket_Reservation]
    (Customer_ID, FirstName, LastName, Date_Placed, Date_of_Visit, Credit_Card_Number, Ticket_Class, Expired, Price, Ticket_ID)
    values
    (@customer_id, @FirstName, @LastName, GETDATE(), @Date_of_Visit, @Credit_Card_Number, @Ticket_Class, 0, 11.50, null)
go

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the procedure 'Theme_Park.Proc_Customer_Buy_Reservations', because it does not exist or you do not have permission.

PROC_CUSTOMER_GET_CURRENT_RESERVATIONS: lists all current reservations

In [3]:
drop proc [Theme_Park].[Proc_Customer_Get_Current_Reservations]
GO
create proc [Theme_Park].[Proc_Customer_Get_Current_Reservations]
    @customer_id int
AS
    select Reservation_ID, Date_Placed, Date_of_Visit, Ticket_CLass, Price, Ticket_ID
    from [Theme_Park].[Ticket_Reservation]
    where Customer_ID=@customer_id
    and Date_of_Visit >= GETDATE()
    order by Date_Placed asc
go

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the procedure 'Theme_Park.Proc_Customer_Get_Current_Reservations', because it does not exist or you do not have permission.

In [28]:
drop proc [Theme_Park].[Proc_Customer_Cancel_Reservation]
GO
create proc [Theme_Park].[Proc_Customer_Cancel_Reservation]
    @Reservation_ID int
AS
    delete from [Theme_Park].[Ticket_Reservation]
    where Reservation_ID=@Reservation_ID
go

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the procedure 'Theme_Park.Proc_Customer_Cancel_Reservation', because it does not exist or you do not have permission.

In [23]:
insert into [Theme_Park].[Customer]
(name, cc_num, email, visit_count, username)
values
('Joe Blow', 7777666622221111, 'joeblow@uh.edu', 0, 'joe')
go
exec [Theme_Park].[Proc_Customer_Buy_Reservations] 15, 'Joe', 'Blow', '2022-11-03', 10, "Poor"
go

: Msg 547, Level 16, State 0, Procedure Theme_Park.Proc_Customer_Buy_Reservations, Line 9
The INSERT statement conflicted with the FOREIGN KEY constraint "FK_Customer_Of_Reservation". The conflict occurred in database "themepark_dev", table "Theme_Park.Customer", column 'customer_id'.

In [24]:
exec [Theme_Park].[Proc_Customer_Buy_Reservations] 15, 'Joe', 'Blow', '2022-11-03', 10, "Poor"
go

In [32]:
exec [Theme_Park].[Proc_Customer_Get_Current_Reservations] 16

In [35]:
select customer_id from [Theme_Park].[Customer] where username='karen';

In [29]:
exec [Theme_Park].[Proc_Customer_Cancel_Reservation] 13

In [11]:
drop proc [Theme_Park].[Proc_Get_Maintenance_Notifications]
go
create proc [Theme_Park].[Proc_Get_Maintenance_Notifications]
AS
    select * from [Theme_Park].[Maintenance_Notifications]
GO

In [15]:
drop proc [Theme_Park].[Proc_Get_Manager_Notifications]
go
create proc [Theme_Park].[Proc_Get_Manager_Notifications]
    @username varchar(20)
as
    select * from [Theme_Park].[Manager_Notifications]
    where manager_ssn = (select ssn from [Theme_Park].[Employee] as E, [Theme_Park].[Users] as U where E.db_user = U.db_user and U.db_user=@username)
go

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the procedure 'Theme_Park.Proc_Get_Manager_Notifications', because it does not exist or you do not have permission.

: Msg 207, Level 16, State 1, Procedure Proc_Get_Manager_Notifications, Line 6
Invalid column name 'dept_id'.

In [13]:
exec [Theme_Park].[Proc_Get_Manager_Notifications] 'fernando'

manager_ssn,employee_fname,employee_lname,dept_id,role,payrate,salaried,super_fname,super_lname,type
123456788,Mario,Mario,1,Plumber,7.99,0,Fernando,Recinos,P
123456788,Mario,Mario,1,Plumber,7.99,0,Fernando,Recinos,P
123456788,Mario,Mario,1,Plumber,7.99,0,Fernando,Recinos,R
123456788,Mario,Mario,1,Plumber,7.99,0,Fernando,Recinos,R
123456788,Mario,Mario,2,Plumber,7.99,0,Fernando,Recinos,R
123456788,Mario,Mario,2,Plumber,30000.00,1,Fernando,Recinos,P

In [3]:
alter table [Theme_Park].[Employee]
add db_user varchar(20) null
go
alter table [Theme_Park].[Employee]
add constraint FK_Employee_Username
foreign key (db_user) references [Theme_Park].[Users] (db_user)
go

: Msg 2705, Level 16, State 4, Line 1
Column names in each table must be unique. Column name 'db_user' in table 'Theme_Park.Employee' is specified more than once.