In [1]:
delete from [Theme_Park].[Maintenance_Calendar]
go
drop table [Theme_Park].[Maintenance_Notification]
go
create table [Theme_Park].[Maintenance_Notification]
(
    notification_id int identity(1,1),
    maintenance_id int not null,
    completion datetime not null,
    billed_hours int,
    amount smallmoney,
)

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'Theme_Park.Maintenance_Notification', because it does not exist or you do not have permission.

## Trigger TRIGGER_MANAGER_NOTIFICATION_ON_MAINTENANCE_COMPLETION:

This trigger is intended to create notification entries whenever a maintenance event is updated or inserted
with a completion time set. These notifications have

In [1]:
drop trigger [Theme_Park].[Trigger_Manager_Notification_On_Maintenance_Completion]
go
create trigger [Theme_Park].[Trigger_Manager_Notification_On_Maintenance_Completion]
on [Theme_Park].[Maintenance_Calendar]
after insert,update
as
BEGIN
    set nocount on
    declare 
        @id int,
        @Completion_Date datetime,
        @Hours int,
        @Amount smallmoney,
        @Description varchar(50)
    declare cur cursor read_only for 
        select Maint_ID, Maint_Completion, Billed_Hours, Invoice_amount, Maint_Description from inserted
    open cur
    fetch next from cur into @id, @Completion_Date, @Hours, @Amount, @Description
    while @@fetch_status = 0
    begin
        if (@Completion_Date is not null)
        begin
            insert into [Theme_Park].[Maintenance_Notification]
            values (@id, @Completion_Date, @Hours, @Amount, @Description)
        end
        fetch next from cur into @id, @Completion_Date, @Hours, @Amount, @Description
    end
    close cur
    deallocate cur
end

## Trigger TRIGGER_MANAGER_NOTIFICATION_ON_EMPLOYEE_CHANGE:

This trigger fires whenever an employee's pay or department changes

In [ ]:
drop trigger [Theme_Park].[Trigger_Manager_Notification_On_Employee_Change]
go
create trigger [Theme_Park].[Trigger_Manager_Notification_On_Employee_Change]
on [Theme_Park].[Employee]
after update, insert
as
BEGIN
    set nocount on
    declare 
        @fname varchar(20),
        @lname varchar(20),
        @ssn numeric(9,0),
        @role varchar(20),
        @dept_id int,
        @payrate money,
        @supervisor_ssn int,
        @salaried bit
    -- Here we use COLUMNS_UPDATED to check for the updated columns of the rows
    -- This goes from right to left, as a bitmask. A 1 in the nth-most bit from the right, means that column n of [Theme_Park].[Employee] was updated
    -- Payrate is column 12, salaried is column 11, department is column 8, role is column 9
    declare @payrate_bitmask varbinary = LEFT_SHIFT(1, 11),
            @salaried_bitmask varbinary = LEFT_SHIFT(1, 10),
            @department_bitmask varbinary = LEFT_SHIFT(1, 7),
            @role_bitmask varbinary = LEFT_SHIFT(1, 8)
    declare cur cursor read_only for 
        select fname, lname, ssn, dept_id, role, payrate, salaried, supervisor_ssn from inserted
    open cur
    fetch next from cur into @fname, @lname, @ssn, @dept_id, @role, @payrate, @salaried, @supervisor_ssn
    while @@fetch_status = 0
    begin
        declare @updated_columns varbinary = COLUMNs_UPDATED()
        declare @dept_head_ssn int = (select supervisor_ssn from [Theme_Park].[Department] where dept_id = @dept_id)
        declare @super_fname varchar(20), @super_lname varchar(20) = (select fname, lname from [Theme_Park].[Employees] where ssn = @supervisor_ssn)
        if (@updated_columns & (@payrate_bitmask + @salaried_bitmask) <> 0)
        begin
            insert into [Theme_Park].[Manager_Notifications]
            values 
            (@supervisor_ssn, @fname, @lname, @dept_id, @role, @payrate, @salaried, @super_fname, @super_lname, 'P'),
            (@dept_head, @fname, @lname, @dept_id, @role, @payrate, @salaried, @super_fname, @super_lname, 'P')
        end
        if (@updated_columns & (@department_bitmask + @role_bitmask) <> 0)
        begin
            insert into [Theme_Park].[Manager_Notifications]
            values 
            (@supervisor_ssn, @fname, @lname, @dept_id, @role, @payrate, @salaried, @super_fname, @super_lname, 'R'),
            (@dept_head, @fname, @lname, @dept_id, @role, @payrate, @salaried, @super_fname, @super_lname, 'R')        
        end
        fetch next from cur into @fname, @lname, @ssn, @dept_id, @role, @payrate, @salaried
    end
    close cur
    deallocate cur
end

In [1]:
drop table [Theme_Park].[Manager_Notifications]
go
create table [Theme_Park].[Manager_Notifications]
(
    manager_ssn int not null,
    employee_fname varchar(20),
    employee_lname varchar(20),
    dept_id int,
    role varchar(20),
    payrate money,
    salaried bit,
    super_fname varchar(20),
    super_lname varchar(20),
    type char not null
)

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'Theme_Park.Manager_Notifications', because it does not exist or you do not have permission.

In [ ]:
drop proc [Theme_Park].[Proc_Get_Manager_Notifications]

In [4]:
insert into [Theme_Park].[Maintenance_Calendar]
(Occurence_datetime, Priority, Maint_Start, Maint_Completion, Billed_Hours, Invoice_amount)
values
(
    GETDATE(), 'ASAP', GETDATE(), GETDATE(), 1, 1130.50 
)

In [8]:
insert into [Theme_Park].[Maintenance_Calendar]
(Occurence_datetime, Priority, Maint_Start)
values
(
    GETDATE(), 'ASAP', GETDATE()
)

In [12]:
update [Theme_Park].[Maintenance_Calendar]
set Maint_Completion = GETDATE()
where Maint_ID = 3
go

In [2]:
select * from [Theme_Park].[Maintenance_Notification]

notification_id,maintenance_id,completion,billed_hours,amount,maint_description
1,1,2022-11-11 00:00:00.000,2,1.00,Broken wheel
2,3,2022-11-10 00:00:00.000,2,1.00,jflj
3,2,2022-11-10 00:00:00.000,2,420.22,kdkdkd

In [16]:
declare @date datetime = GETDATE()
exec [Theme_Park].[Proc_Add_Maint] @date, null, null, 'Urgent', @date
go

In [4]:
select * from [Theme_Park].[Ticket_Reservation]
go
select * from [Theme_Park].[Maintenance_Calendar]
go
select * from [Theme_Park].[Attractions]
GO
select * from [Theme_Park].[Vendor]
go
select * from [Theme_Park].[Department]
go
select * from [Theme_Park].[Ticket]
go
select * from [Theme_Park].[Merchandise_Sale]
go
select * from [Theme_Park].[Merchandise]
go
select * from [Theme_Park].[Employee]
go

Reservation_ID,Customer_ID,FirstName,LastName,Date_Placed,Date_of_Visit,Credit_Card_Number,Ticket_Class,Expired,Price,Ticket_ID
1,1,Karen,Strong,2022-11-10 19:14:26.970,2022-12-25 00:00:00.000,111,Premium,0,11.50,NULL

Maint_ID,Occurence_datetime,Vendor_ID,Attraction_ID,Priority,Maint_Start,Maint_Completion,Billed_Hours,Invoice_amount,Scanned_invoice,Maint_Description
1,2022-11-10 16:49:31.253,1,1,ASAP,2022-11-10 16:49:31.253,2022-11-11 00:00:00.000,2,1.00,NULL,Broken wheel
2,2022-11-10 00:00:00.000,1,1,Not Urgent,2022-11-10 00:00:00.000,2022-11-10 00:00:00.000,2,420.22,NULL,kdkdkd
3,2022-11-10 00:00:00.000,1,1,Urgent,2022-11-10 00:00:00.000,2022-11-10 00:00:00.000,2,1.00,NULL,jflj
4,2022-11-10 00:00:00.000,2,2,ASAP,2022-11-10 00:00:00.000,NULL,NULL,NULL,NULL,spill

attraction_id,name,dept_id
1,Spinny Spin,1
2,Terror Drop,1
3,Bills Sandwhiches,1

name,vendor_point_of_contact_name,business_phone,business_address,service_type,contract_start_date,scanned_contract,vendor_id
Jennys Janitorial,Jenny Jones,6128974243,"42 oceania drive, Houston TX, 77004",Attraction,2022-01-19,NULL,1
Felix Maintenance,Fix-it Felix,5125125125,"21 Fix drive, Houston TX, 77004",Attraction,2022-01-19,NULL,2

dept_id,dept_name,supervisor_ssn
1,Rides,NULL
2,Food Court,NULL

In [5]:
alter table [Theme_Park].[Ticket_Reservation]
alter column Credit_Card_Number bigint
go

In [ ]:
exec [Theme_Park].[Proc_Customer_Buy_Ticket] GETDATE(), 'Poor',