# Stored Procedure definitions:

## HR Role

- Proc_Add_Employee: Adds an employee to the database

In [6]:
drop proc [Theme_Park].[Proc_Add_Employee]
go
create proc [Theme_Park].[Proc_Add_Employee]
    @fname varchar(20),
    @lname varchar(20),
    @ssn numeric(9,0),
    @gender char,
    @address varchar(50),
    @phone numeric(10,0),
    @date_joined date,
    @dept_id int,
    @role varchar(20),
    @supervisor_ssn numeric(9,0),
    @salaried bit,
    @payrate money,
    @vacation_days decimal(4,2)
AS
    INSERT INTO [Theme_Park].[Employee]
    VALUES
    ( @fname, @lname, @ssn, @gender, @address, @phone, @date_joined, @dept_id, @role, @supervisor_ssn, @salaried, @payrate, @vacation_days );
GO

In [8]:
exec [Theme_Park].[Proc_Add_Employee] 'Kimmy', 'Schmidt', 177889999, 'F', 'Middletown, OH', 01117777, '2022-10-24', 0, 'Heroine', 177889999, 0, 17.15, 0
go