# Stored Procedure definitions:

## Database Login from Webapp

* `Proc_Validate_User`:  Checks a password in the database

In [6]:
drop proc [Theme_Park].[Proc_Validate_Login]
go
create proc [Theme_Park].[Proc_Validate_Login]
    @username varchar(20),
    @password varchar(20)
as
    select db_role
        from [Theme_Park].[Users]
        where db_user = @username and db_password = @password;
go

In [3]:
drop table [Theme_Park].[Users]
go
create table [Theme_Park].[Users]
(
    db_user varchar(20) not null,
    db_password varchar(20) not null,
    db_role varchar(20) not null,
    constraint PK_Users
    primary key (db_user)
)
go
insert into [Theme_Park].[Users] values
(
    'username', 'password', 'admin'
)
go

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'Theme_Park.Users', because it does not exist or you do not have permission.

## HR Role

- Proc_Add_Employee: Adds an employee to the database

In [6]:
drop proc [Theme_Park].[Proc_Add_Employee]
go
create proc [Theme_Park].[Proc_Add_Employee]
    @fname varchar(20),
    @lname varchar(20),
    @ssn numeric(9,0),
    @gender char,
    @address varchar(50),
    @phone numeric(10,0),
    @date_joined date,
    @dept_id int,
    @role varchar(20),
    @supervisor_ssn numeric(9,0),
    @salaried bit,
    @payrate money,
    @vacation_days decimal(4,2)
AS
    INSERT INTO [Theme_Park].[Employee]
    VALUES
    ( @fname, @lname, @ssn, @gender, @address, @phone, @date_joined, @dept_id, @role, @supervisor_ssn, @salaried, @payrate, @vacation_days );
GO

In [8]:
exec [Theme_Park].[Proc_Add_Employee] 'Kimmy', 'Schmidt', 177889999, 'F', 'Middletown, OH', 01117777, '2022-10-24', 0, 'Heroine', 177889999, 0, 17.15, 0
go